<div class="logo-wrapper">
  <a href="https://mixpay.me" title="MixPay website" target="_blank" rel="noopener">
    <span class="for-mobile">
      <img src="icons/logo_mobile.png" height="19" style="margin-top:11px">
    </span>

    <span class="for-desktop">
      <img height="32" src="icons/logo.png" style="margin-top:6px">
    </span>
  </a>
</div>
